@import './normailze.scss';
@import './base.scss';
@import './util.scss';
@import './common.scss';
header{
    padding: 16px 48px 8px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .7) 10%, rgba(0, 0, 0, 0));
    position: fixed;
    width:100%;
    z-index: 10;
    .nav-links{
        display: flex;
        ul{
            display: flex;align-items: center;
             &.main {
                 margin-right: auto;
                 align-items: center;
             }
            li{
                margin-right: 24px;
                color: #e5e5e5;
                font-size: 14px;
                cursor: pointer;
                a{display: block;}
                &.logo {
                    display: block;
                    max-width: 92px;
                    margin-right: 40px;
                }
                &.active {
                    color: #fff;
                    font-weight: 700;
                }
                &:last-child {
                    margin-right: 0px;
                }
                &.profile{
                    max-width: 38px;
                    max-height: 38px;
                    display: block;
                    border-radius: 4px;
                    overflow: hidden;
                }
            }            
        }
    }
}
.nc-preview{
    position: absolute;
    z-index:999;
    left:0;
    top:0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    width:100%;
    height:100%;
    padding:56px 0px;
}
.nc-preview-inner{
    position: absolute;
    width:90%;
    max-width: 1024px;
    transform-origin: center top;
    opacity: 0;
}
.nc-preivew-thumbnail{
    position: relative;
    overflow: hidden;
    &::before{
        content: "";
        display: block;
        padding-bottom:56.25%;
    }
    img{
        position: absolute;
        top:0;left:0;
        bottom:0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    img[src=""]{
        display: none;
    }
}