<style type='text/css'>
    /* QUES : css import하는 다른 방법 js에서 끌어오는.. */
    @import url("../asset/style/home/home.scss");
</style>
<section class="home-header">
    <div class="video">
        <video src="https://video.millie.co.kr/brand/40a4ef0a-cd78-4e11-bbd9-444a64c82d49.mp4" autoplay muted preload="auto" controlsList="nodownload" playsinline></video>
    </div>
    <div class="metadata">
        <div class="title">
            <img>
        </div>
        <div class="episode-info">
            <p class="episode-title">기묘한 이야기</p>
            <span class="episode-desc">
                또다시 기묘한 일들이 일어난다. 정부가 숨기고 있는 비밀, 정체를 드러내는 그림자, 두려움을 모르는 아이들. 작은 마을에 어둠이 다가온다. 뒤집힌 세상의 문이 열린다.
            </span>
        </div>
        <div class="episode-play">
            <button class="btn whiteBg">
                <ion-icon name="play"></ion-icon>
                <span>재생</span>
            </button>
            <button class="btn grayBg">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>상세 정보</span>
            </button>
        </div>
    </div>
</section>
<section class="content">
    <article class="list-content">
        <h2 class="title">지금 시청중인 콘텐츠</h2>
        <ul class="list-ui">
            
        </ul>
    </article>
</section>